body{
    background-color:black;
}
.body-2{
    display: flex;
}
/* --------------ШАПКА-------------------------------------------------------- */
.titles{
    font-family: 'Archivo Black', sans-serif;
    position: relative;
    color:rgb(220,199,180);
    font-size: 50px;
    width: 100%;
    top:10px;
}
.myphoto{
    width:400px;
    height:760px;
    background:url(/images/iam.jpg);
    margin-top: 10px;
}
h2{
    text-shadow: -10px 2px 30px black;
    text-align: center;
}
.developer{
    color:rgb(44, 44, 44);
    font-size:15px;
    width:110px;
    margin:0 auto;
    line-height: 30px;
    text-shadow: -10px 2px 30px black;
}
.links li:hover{
    transform: scale(1.3);
}
.links{
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 10px;
}
i{
    color: rgb(220,199,180);
}
ul.links li{
    display: inline-block;   
}

/* --------------ОСНОВА-------------------------------------------------------- */
.container-2{
    display: flex;   
}
.container-3{
    display: flex;
}
hr{
    border: 4px solid rgb(136, 134, 132);
    background-color: rgb(136, 134, 132);
}
.wrapper{
    background-color: rgb(26, 26, 26);
    width: 910px;
    height: 730px;
    margin-top: 25px;
}
h1{
    text-align: center;
    color: rgb(220,199,180);
}
.h1-1{
    font-family: 'Archivo Black', sans-serif;
    font-size:40px;
}
.information{
    color:#CD9245;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
}
.information-2{
    color:rgb(58, 58, 58);
    font-size: 25px;
    text-align: center;
}
.education{
    width: 200px;
    color:rgb(58, 58, 58);
    font-size: 25px;
}
h3, h4, h6{
    color:#CD9245;
}
.h4-{
    font-size: 25px;
}
.icon-e{
    line-height: 50px;
    font-size: 25px;
}
.information-3{
    margin-top:25px;    
    color:rgb(66, 66, 66);
    font-size: 25px;
    text-align:justify;
}
.education-block{
    width: 300px;
    margin-left: 60px;
    margin-top: 13px;
}
.education-block-2{
    width:300px;
    margin-left:200px;
    margin-top: 13px;
}
.education-block:hover{
    transform: scale(1.01);
}
.education-block-2:hover{
    transform: scale(1.01);
}
.skills-color{
    color:rgb(220,199,180);
    font-size:25px;
}

/* --------------Левая-Часть-------------------------------------------------------- */
.left-side{
    display: flex;
    background-color: rgb(26, 26, 26);
    width: 200px;
    height:730px;
    margin-top: 21px;
}
.contact{
    width: 200px;
}
.contact-name{
    font-family: 'Archivo Black', sans-serif;
    color:rgb(220,199,180);
    font-size: 25px;
    text-align: center;
    line-height: 144px;

}
.line-2{
    margin-top: -3px;
}
.information-4{
    font-family: 'Archivo Black', sans-serif;
    color: rgb(66, 66, 66);
    line-height: 40px;
    font-size: 11px;
    text-align: left;
    font-style: italic;
    margin-top: 25px;
}
.information-5:hover{
    background-color: #CD9245;
    color: rgb(220,199,180);
}
.logo-avv{
    margin-top: 200px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
}
.logo-avv:hover{
    transform: scale(1.2);
}
/*----------------FOOTER------------------------------------------*/
.footer{
    text-align: right;
    font-size: 15px;
    color: rgb(66, 66, 66);
}
.vv{
    color: #b12127;
    font-style: italic;
}
.art{
    color:#bfbfbf;
    font-style: italic;
}
/*----------------ADAPTIVE------------------------------------------*/